.flexnav {
    display: flex;
    padding: 1rem 2.5rem;
    align-items: center;
    position: relative;
    /* border: 1px solid; */
}

.dropdown {
    display: flex;
    margin-right: auto;
}

.dropchildren:not(.about) {
    margin-right: 2rem;
    cursor: pointer;
}

.about {
    cursor: pointer;
}

.dropchildren:hover {
    color: hsl(0, 0%, 8%);
}

.logo {
    margin-right: 2.8rem;
}

.register {
    margin-left: 1.5rem;
    border: 1px solid hsl(0, 0%, 41%);
    padding: .5rem 1rem;
    border-radius: 9px;
}

.menu {
    display: none;
    cursor: pointer;
}

.white {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    padding: .5rem 1.3rem;
    border-radius: 5px;
    top: 80%;
    left: 7.5%;
}
.white2 {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 1.3rem;
    border-radius: 5px;
    top: 80%;
    left: 19%;
}

.wchild {
    margin-bottom: .7rem;
    cursor: pointer;
}

.wchild2 {
    margin-bottom: 1rem;
    cursor: pointer;
}

.items {
    margin-right: 8px;
}

.close {
    display: none;
}

@media screen and (max-width: 1026px) {
    .login, .register {
        display: none;
    }

    .dropdown {
        position: fixed;
        right: -65%;
        top: 0;
        height: 100%;
        margin-right: 0;
        flex-direction: column;
        background-color: hsl(0, 0%, 100%);
        padding-top: 5rem;
        font-size: .9rem;
        width: 60%;
        padding-left: 2rem;
        transition: .2s ease-out;
        z-index: 3;
    }

    .flexnav {
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .menu {
        display: inline;
    }

    .dropchildren:not(.about) {
        margin-right: 0;
        margin-bottom: 1.7rem;
    }

    .white {
        position: static;
        margin-bottom: 2rem;
        background-color: hsl(0, 0%, 100%);
    }

    .white2 {
        position: static;
        margin-bottom: 2rem;
        background-color: hsl(0, 0%, 100%);
    }

    .wchild, .wchild2 {
        margin-bottom: 1.2rem;
    }

    .close {
        display: inline;
        position: absolute;
        right: 3%;
        top: 2%;
        cursor: pointer;
    }
    .modal {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
    }
}